<ul class="menu">
    <li class="menu-title">Menu</li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <span class="menu-icon"><i class="uil uil-estate"></i></span>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>





    <li class="menu-title">GESTIONES</li>


    <li class="menu-item">
        <a href="javascript:void(0)" data-hs-collapse="#sidenavForms" class="menu-link">
            <span class="menu-icon"><i class="uil uil-file-alt"></i></span>
            <span class="menu-text"> Forms </span>
            <span class="menu-arrow"></span>
        </a>

        <ul id="sidenavForms" class="sub-menu hidden">
            <li class="menu-item">
                <a href="forms-elements.html" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">Form Elements</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="forms-masks.html" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">Masks</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="forms-editor.html" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">Editor</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="forms-validation.html" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">Validation</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="forms-layout.html" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">Form Layout</span>
                </a>
            </li>
        </ul>
    </li>

   

    <li class="menu-item">
        <a href="javascript:void(0)" data-hs-collapse="#sidenavLevel" class="menu-link">
            <span class="menu-icon">
                <i class="uil uil-chart"></i>
            </span>
            <span class="menu-text"> Reportes </span>
            <span class="menu-arrow"></span>
        </a>

        <ul id="sidenavLevel" class="sub-menu hidden">
            <li class="menu-item">
                <a href="javascript: void(0)" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">
                        <i class="fa-brands fa-sourcetree"></i>
                        Solvencia</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript: void(0)" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">
                        <i class="fa-brands fa-sourcetree"></i>
                        Gestion</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript: void(0)" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">
                        <i class="fa-brands fa-sourcetree"></i>
                        Rentabiliadd</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript: void(0)" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">
                        <i class="fa-brands fa-sourcetree"></i>
                        Liquidez</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript: void(0)" class="menu-link">
                    <span class="menu-dot"></span>
                    <span class="menu-text">
                        <i class="fa-brands fa-sourcetree"></i>
                        Reporte</span>
                </a>
            </li>
           
        </ul>
    </li>


    <!-- salir -->
    <li class="menu-item">
        <a routerLink="/logout" class="menu-link">
            <span class="menu-icon">
                <i class="uil uil-arrow-circle-right"></i>
            </span>
            <!-- funcion de logauot -->
            <span class="menu-text"> Salir </span>
            <span class="badge bg-danger rounded ms-auto">Hot</span>
        </a>
    </li>
</ul>