 <!-- Sidebar Menu Start -->
 <div class="app-menu">

  <!-- Brand Logo -->
  <a href="index.html" class="logo-box">
    <span class="bg-cyan-900 p-3 m-3 rounded-lg text-white  font-bold">LegalTax</span>
      <!-- <img src="assets/images/logo-legaltax.png" class="logo-light h-6" alt="Light logo">
      <img src="assets/images/logo-dark.png" class="logo-dark h-6 bg-slate-500" alt="Dark logo"> -->
  </a>

  <!--- Menu -->
  <div data-simplebar>
    <app-menu-sidebar></app-menu-sidebar>
  </div>
</div>
